body {
    background-color: black;
    color: white;
    text-align: center;
}

h1{
    color: skyblue;
}

#container{
    height: 90vh;
    border-radius: 5px;
    width: 95vw;
    margin-left: 1.5vw;
    background-color: rgba(169, 169, 169, 0.087);

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.product{
    width: 200px;
    height: 250px;

    background-color: azure;
    color: black;
    margin: 10px;
    border-radius: 6px;
}

.productImage{
    width: 150px;
    height: 120px;
    object-fit: cover;
}

input{
    margin-bottom: 8px;
}

